/** @class Ext.grid.column.Column */


$grid-column-header-font-weight: dynamic($font-weight-bold);
$grid-column-header-color: #ffffff;

$grid-column-header-focus-border-color: white;

$enable-font-awesome: dynamic(true);
$panel-navigation-background-color: #32404e;
$panel-navigation-item-line-height: 64px;
$panel-navigation-item-text-color: #ADB3B8;
$main-background-color:#01579b;
$grid-column-header-border-style :none; 





$grid-column-header-focus-background-color: lighten(#0288d1, 3%);




  