.#{$prefix}grid-header-ct{
    
border:none;
color:#fff;
}


.#{$prefix}toolbar .#{$prefix}form-trigger-wrap{
    
    border:solid 1px #ffffff;
}


.#{$prefix}toolbar .#{$prefix}form-text{
    background-color:#0288d1;
    color:#ffffff;

}

.#{$prefix}grid{
    
box-shadow: 0 5px 20px -1px rgba(0, 0, 0, 0.49);

}